<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Product Id="*" 
             Name="$(var.ProductName)" 
             Language="1033" 
             Version="$(var.InstallerVersion)"
             Manufacturer="$(var.ArpManufacturer)"
             UpgradeCode="24385cff-be63-476d-b534-81adac63ca9a">
		<Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine" 
                 Description="$(var.ProductName)"/>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

        <Property Id="INSTALLFOLDER">
            <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)" Key="Software\$(var.Company)\$(var.ProductName)" Name="InstallPath"/>
        </Property>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <MediaTemplate EmbedCab="yes"/>

        <Feature Id="ProductFeature" Title="ClrProfiler" Level="1">
            <ComponentGroupRef Id="Files.Root"/>
            <ComponentGroupRef Id="Files.Managed.NET461"/>
            <ComponentGroupRef Id="Files.Managed.NETCORE"/>
            <ComponentGroupRef Id="Registry"/>
            <ComponentGroupRef Id="EnvironmentVariables.Machine"/>
            <ComponentGroupRef Id="EnvironmentVariables.User"/>
        </Feature>
        
        <UI>
            <UIRef Id="WixUI_InstallDir" />

            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="InstallDirDlg"
                     Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1</Publish>
        </UI>

        <CustomAction Id="IIS_RESTART" Directory="INSTALLFOLDER" Execute="commit" Impersonate="no" ExeCommand="cmd.exe /k &quot;iisrestart.cmd&quot;" Return="asyncNoWait" />

        <InstallExecuteSequence>
            <Custom Action="IIS_RESTART" After="InstallInitialize" >NOT Installed</Custom>
        </InstallExecuteSequence>
	</Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="ProgramFilesFolder.ClrProfiler" Name="$(var.Company)">
                    <Directory Id="INSTALLFOLDER" Name="$(var.BaseProductName)">
                        <Directory Id="INSTALLFOLDER_NET461" Name="net461"/>
                        <Directory Id="INSTALLFOLDER_NETCORE" Name="netstandard2.0"/>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <!-- Assembly=".net" add dll to GAC -->
    <Fragment>
        <ComponentGroup Id="Files.Managed.NET461" Directory="INSTALLFOLDER_NET461">
            <Component Id="Permission.INSTALLFOLDER_NET461" Guid="{7C5234ED-EE92-468A-1765-27E5747705DB}">
                <CreateFolder>
                    <Permission ChangePermission="yes" GenericAll="yes" User="Administrators"/>
                    <Permission User="Everyone" WriteExtendedAttributes="yes" WriteAttributes="yes" CreateFile="yes" CreateChild="yes" GenericWrite="yes" GenericRead="yes" GenericExecute="yes"/>
                </CreateFolder>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_trace.json"
                      Source="$(var.ManagedDllPath)\net461\trace.json"
                      KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.dll"
                      KeyPath="yes" Checksum="yes" Assembly=".net"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_OpenTracing.dll"
                      Source="$(var.ManagedDllPath)\net461\OpenTracing.dll"
                      KeyPath="yes" Checksum="yes" Assembly=".net"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_netstandard.dll"
                      Source="$(var.ManagedDllPath)\net461\netstandard.dll"
                      KeyPath="yes" Checksum="yes" Assembly=".net"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.AspNet.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.AspNet.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.AspNetCore.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.AspNetCore.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.HttpWebRequest.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.HttpWebRequest.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.MySqlConnector.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.MySqlConnector.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.MySqlData.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.MySqlData.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.StackExchangeRedis.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.StackExchangeRedis.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="net461_ClrProfiler.Trace.SystemDataSqlClient.dll"
                      Source="$(var.ManagedDllPath)\net461\ClrProfiler.Trace.SystemDataSqlClient.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Files.Managed.NETCORE" Directory="INSTALLFOLDER_NETCORE">
            <Component Id="Permission.INSTALLFOLDER_NETCORE" Guid="{8C5234ED-EE92-168A-A765-27E5747705DB}">
                <CreateFolder>
                    <Permission ChangePermission="yes" GenericAll="yes" User="Administrators"/>
                    <Permission User="Everyone" WriteExtendedAttributes="yes" WriteAttributes="yes" CreateFile="yes" CreateChild="yes" GenericWrite="yes" GenericRead="yes" GenericExecute="yes"/>
                </CreateFolder>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_trace.json"
                      Source="$(var.ManagedDllPath)\netstandard2.0\trace.json"
                      KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.dll"
                      KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_OpenTracing.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\OpenTracing.dll"
                      KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.AspNetCore.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.AspNetCore.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.HttpWebRequest.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.HttpClient.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.MySqlConnector.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.MySqlConnector.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.MySqlData.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.MySqlData.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.StackExchangeRedis.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.StackExchangeRedis.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="netcore_ClrProfiler.Trace.SystemDataSqlClient.dll"
                      Source="$(var.ManagedDllPath)\netstandard2.0\ClrProfiler.Trace.SystemDataSqlClient.dll"
                      KeyPath="yes" Checksum="yes" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Files.Root" Directory="INSTALLFOLDER">
            <Component Id="INSTALLFOLDER.Root" Guid="{8A5234ED-EE92-468A-A765-27E5747705DB}">
                <CreateFolder />
                <RemoveFile Id="PurgeClrProfiler" Name="ClrProfiler.dll" On="uninstall" />
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="ClrProfiler.dll"
                      Source="$(var.NativeDllPath)\ClrProfiler.dll"
                      Checksum="yes">
                </File>
            </Component>
            <Component Win64="$(var.Win64)">
                <File Id="iisrestart.cmd"
                      Source="$(var.ToolsPath)\iisrestart.cmd"
                      Checksum="yes">
                </File>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Registry" Directory="INSTALLFOLDER">
            <Component Win64="$(var.Win64)">
                <CreateFolder/>
                <RegistryKey Root="HKLM" Key="Software\$(var.Company)\$(var.ProductName)">
                    <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLFOLDER]" Action="write"/>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="EnvironmentVariables.Machine" Directory="INSTALLFOLDER">
            <Component Id="EnvironmentVariablesShared" Guid="{C304A305-9C24-4E46-9ECF-E5EEA703BDE0}" Win64="$(var.Win64)">
                <CreateFolder/>
                <Environment Id="CORECLR_PROFILER" Name="CORECLR_PROFILER" Action="set" Permanent="no" System="yes" Value="{cf0d821e-299b-5307-a3d8-b283c03916dd}" Part="all" />
                <Environment Id="CORECLR_ENABLE_PROFILING" Name="CORECLR_ENABLE_PROFILING" Action="set" Permanent="no" System="yes" Value="1" Part="all" />
                <Environment Id="CORECLR_PROFILER_PATH" Name="CORECLR_PROFILER_PATH" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]ClrProfiler.dll" Part="all" />
                <Environment Id="CORECLR_PROFILER_HOME" Name="CORECLR_PROFILER_HOME" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]netstandard2.0" Part="all" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="EnvironmentVariables.User" Directory="INSTALLFOLDER">
            <Component Id="Registry.EnvironmentVariables.W3SVC" Guid="{7022B265-F33E-47F4-A6B0-E21FA0F021C1}" Win64="$(var.Win64)">
                <CreateFolder/>
                <RegistryKey Root="HKLM"
                             Key="System\CurrentControlSet\Services\W3SVC" ForceCreateOnInstall="yes">
                    <RegistryValue Type="multiString" Name="Environment" Value="COR_ENABLE_PROFILING=1[~]COR_PROFILER={af0d821e-299b-5307-a3d8-b283c03916dd}[~]COR_PROFILER_PATH=[INSTALLFOLDER]ClrProfiler.dll[~]COR_PROFILER_HOME=[INSTALLFOLDER]net461" Action="append"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="System\CurrentControlSet\Services\W3SVC\Environment" ForceDeleteOnUninstall="yes">
                </RegistryKey>
            </Component>

            <Component Id="Registry.EnvironmentVariables.WAS" Guid="{6C18AB88-240E-4A0A-A630-43119C064AD4}" Win64="$(var.Win64)">
                <RegistryKey Root="HKLM"
                             Key="System\CurrentControlSet\Services\WAS" ForceCreateOnInstall="yes">
                    <RegistryValue Type="multiString" Name="Environment" Value="COR_ENABLE_PROFILING=1[~]COR_PROFILER={af0d821e-299b-5307-a3d8-b283c03916dd}[~]COR_PROFILER_PATH=[INSTALLFOLDER]ClrProfiler.dll[~]COR_PROFILER_HOME=[INSTALLFOLDER]net461" Action="append"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="System\CurrentControlSet\Services\WAS\Environment" ForceDeleteOnUninstall="yes">
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
